.Content {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    padding: 40px; /* Increased padding */
    font-size: 18px; /* Increased font size */
    color:black;
}

/* Style for the grand holder */
.GrandHolder {
    border: 1px solid #ccc;
    padding: 20px;
    background: linear-gradient(to bottom right, #9ad3de, #1a6f8c);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Hide overflowing content */
    flex-direction: column;
}

/* Style for the top part */
.TopPart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    

}

/* Style for the image holder */
.ImageHolder {
    flex: 0 0 auto;
    margin-right: 20px;
    border-radius: 50%; /* Make the image holder circular */
    overflow: hidden; /* Hide overflowing content */
}

/* Style for the image */
.ImagePF {
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Set height to match width for a circular shape */
    border-radius: 50%; /* Make the image circular */
}

/* Style for the info holder */
.InfoHolder {
    flex: 1;
    margin-right: 20px;
    font:bolder;
    display:flex;
    flex-direction:column;
    padding-left:20px;
    margin-bottom:10px;
}
    .InfoHolder label {
        display: block;
        padding-bottom: 2%; /* Add padding below each line */
    }
/* Style for the contact holder */
.ContactHolder {
    flex: 1;
}



/* Style for the bottom part */
.BottomPart {
    padding-top: 20px;
    border-top: 1px solid #ccc;
    background: linear-gradient(to bottom right, #9ad3de, #5d9ea4);
    text-align:center;
    width:100%;
}

    /* Style for the bio section */
    .BottomPart h1 {
        margin-bottom: 10px;
      
    }

/* Style for the edit bio form */
.hidden-form {
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
}

/* Style for the bio textarea */
#BioTextarea {
    margin-bottom: 10px; /* Add space below the textarea */
}
